.DS_Store
*.tsv
*~
20*
.ipynb_checkpoints
*.out
CERES_EBAF-TOA_Edition4.0_200003-201701.condensed.ncAssignment_9/USArray.ps
Assignment_9/gmt.history
Assignment_9/lat.txt
Assignment_9/lon.txt
Assignment_9/stations.txt
Assignment_9/t.cpt
Assignment_9/tmp
Assignment_9/us_i.nc
Assignment_9/year.txt
Assignment_9/yrs.cpt
*rc_ens*